!!!
%html
  %head
    %meta{charset: "utf-8"}

    -# For zurb foundation; sets the viewport width to device width for mobile
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    -# Might delete these later if unnecessary
    %link{rel: "stylesheet", type: "text/css", href: "stylesheets/stylesheet.css", media: "screen"}
    %link{rel: "stylesheet", type: "text/css", href: "stylesheets/pygment_trac.css", media: "screen"}
    %link{rel: "stylesheet", type: "text/css", href: "stylesheets/print.css", media: "print"}

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", :'http-equiv' => "X-UA-Compatible"}

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Steven H. Allen by stevenhallen"

    = stylesheet_link_tag "app.css"
    = javascript_include_tag "vendor/custom.modernizr.js"

  %body{class: "#{page_classes}"}
    = yield
