.row
  We'd love to chat about your business goals and how we can help.
  %br
  Call: 855-843-3833
  %br
  Email: talk@stevenhallen.com

.row
  - form_tag '/contact', class: 'contact-form', method: 'post' do
    - field_set_tag do
      %p
        = label_tag :name
        = text_field_tag :name
      %p
        = label_tag :email
        = email_field_tag :email
      %p
        = label_tag :subject
        = text_field_tag :subject
      %p
        = label_tag :message
        = text_area_tag :message
      %p
        = submit_tag 'Submit', class: 'button'
