---
title: "Steven H. Allen by stevenhallen"
---
.row
  .large-12.columns
    / Content Slider
    .row
      .large-12.hide-for-small
        #featured{"data-orbit" => ""}
          %img{:alt => "slide image", :src => "http://placehold.it/1200x500&text=Slide Image 1"}/
          %img{:alt => "slide image", :src => "http://placehold.it/1200x500&text=Slide Image 2"}/
          %img{:alt => "slide image", :src => "http://placehold.it/1200x500&text=Slide Image 3"}/
    / End Content Slider
    / Mobile Header
    .row
      .large-12.columns.show-for-small
        %img{:src => "http://placehold.it/1200x700&text=Mobile Header"}/
    %br/
    / End Mobile Header
    .row
      .large-12.columns
        .row
          / Feed
          .large-12.small-12.columns
            %h4 Blog
            %hr/
            .panel
              %h5
                %a{href: "#{blog.articles[0].url}"} #{blog.articles[0].title}
              %h6.subheader
                #{blog.articles[0].summary}
              %h6
                %a{href: "#{blog.articles[0].url}"} Read More »

            - blog.articles[1..3].each do |article|
              .panel.hide-for-small
                %h5
                  %a{href: "#{article.url}"} #{article.title} »

            %a.right{:href => "blog.html"} Go To Blog »
          / End Feed
    / End Content
